<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Pelicula</title>
    <style>
        body {
            font-family: courier, serif;
        }
    </style>
</head>
<body>
    <h1> DETALLE DE PELICULA</h1>
        <ul>   
            <label><b>Nombre de la Pelicula</b></label>
            <li><%=Movie.title%></li> 
            <br>
            <label><b>Rating</b></label>
            <li><%=Movie.rating%></li>
            <br>
            <label><b>Cantidad de Premios</b></label>
            <li><%=Movie.awards%></li>
            <br>
            <label><b>Fecha de Estreno</b></label>
            <li><%=Movie.releaseDate%></li>
            <br>
            <label><b>Duracion</b></label>
            <li><%=Movie.length%> minutos</li>
            <br>
            <label><b>Genero</b></label>
            <li><%=Movie.generos.name%></li>
            <br>
            <label><b>Actores</b></label>
            <ul>
                <% for (let i = 0; i < Movie.actores.length; i++) { %>
                    <li>
                        <%= Movie.actores[i].firstName %> <%= Movie.actores[i].lastName %>
                    </li>
                   
                    <% } %>
            </ul>
        </ul>   



        <div class="log">
            <% if(typeof user !== 'undefined' && user.rol === 1) { %>
                <%- include('partials/admin') %>
            <% } else { %>
                 <a href="/">Home</a>
            <% } %>
        </div>
        
</body>
</html>