<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITAR PELICULAS</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <%- include('partials/header')%>
    
    <div class="container">
    <form action="/editarPeliculas/edit/<%=movies.id%>" method="POST">
        <h1 class="text-center">EDITAR PELICULAS</h1>
        <div class="form-group row text-center">
            <label for="nombre" class="col-sm-2 col-form-label col-form-label-sm">Title - Titulo</label>
            <div class="col-sm-10">
                <input type="text" name="nombre" class="form-control form-control-sm" id="colFormLabelSm" placeholder="" value="<%=movies.title%>">
            </div>
            <br>
        </div>

        <div class="form-group row text-center">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Rating</label>
            <div class="col-sm-10">
                <input type="number" name="rating" class="form-control" id="colFormLabel" placeholder=" " value="<%=movies.rating%>">
            </div>
            <br>
        </div>
        <div class="form-group row text-center">
            <label for="planId" class="col-sm-2 col-form-label col-form-label-lg">Awards - Premios</label>
            <div class="col-sm-10">
                <input type="number" name="awards" id="" class="form-control form-control-lg" placeholder="" value="<%=movies.awards%>">
            </div>
        </div>
        <br>
        <!-- <div class="form-group row text-center">
            <label for="idiomaId" class="col-sm-2 col-form-label col-form-label-lg">Release Date - Fecha de Estreno</label>
            <div class="col-sm-10">
                <input type="number" name="releaseDate" id="" class="form-control form-control-lg" placeholder="" value="<%=movies.releaseDate%>">
            </div>
        </div> -->
        <!-- <br>
        <div class="form-group row text-center">
            <label for="precio" class="col-sm-2 col-form-label col-form-label-lg">Length - Duracion</label>
            <div class="col-sm-10">
                <input type="number" name="lenght" id="" class="form-control form-control-lg" placeholder="" value="<%=movies.length%>">
            </div>
        </div> -->
        <div class="form-group row text-center">
            <label for="precio" class="col-sm-2 col-form-label col-form-label-lg">ID de Genero</label>
            <div class="col-sm-10">
                <input type="number" name="genre_id" id="genre_id" class="form-control form-control-lg" placeholder="" value="<%=movies.genre_id%>">
            </div>
        </div>
        <br>
        <input type="submit" id="Crear cuenta" name="submit" placeholder="" class="form-Cuenta btn btn-danger mb-5" value="Cargar">
    </form>
</div>
</body>

</html>